<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net452" />
  <package id="Config.Net" version="4.13.7" targetFramework="net452" />
  <package id="Config.Net.Yaml" version="4.13.7" targetFramework="net452" />
  <package id="YamlDotNet" version="6.0.0" targetFramework="net452" />
  <package id="YamlDotNet.Signed" version="6.0.0" targetFramework="net452" />
</packages>